@import "tailwindcss";

@theme {
  --color-primary: #0f4c81;
  --color-secondary: #20c997;
  --color-accent: #fd7e14;
  --color-dark: #343a40;
  --color-light: #f8f9fa;
  --font-sans: Inter, sans-serif;
}

@layer base {
  body {
    @apply font-sans text-dark bg-light;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}